@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@extend .animate-spin {
  @apply animate-spin;
}

.logo-title {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-[80px] pb-4;
}
.logo-title-one {
  @apply text-[#0f172a] pr-2;
}
.logo-title-two {
  @apply text-[var(--main-sites-color)] pl-2;
}

.header-borders {
  @apply border-t-2 border-b-2  border-[#0f172a] ;
}

.btn {
  @apply w-[200px] h-[50px];
}



.nav-info-bar {
  @apply flex  justify-between h-6 sm:h-8 md:h-10 lg:h-12 z-[100] mb-[15px];
}

.today-date-display {
  @apply text-lg text-[#0f172a]  pl-4 pr-6 mt-2;
}



.game-info-btn {
  @apply bg-[#bc3c3c] hover:bg-[#a44138] text-white 
  lg:w-[90px]  md:w-[80px] sm:w-[70px]
  lg:h-[60px] md:h-[50px] sm:h-[45px] ;
}

.game-over-btn {
  @apply bg-[#bc3c3c] hover:bg-[#a44138] text-white 
  w-[100px] sm:w-[150px] md:w-[200px] 
  h-[40px] sm:h-[45px] md:h-[50px];
  
}

.game-popup-screen {
  @apply text-6xl bg-slate-800 z-10 border shadow-lg border-black p-10 rounded-xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 
  w-[450px] h-[450px] text-center content-center text-white ;
}
.boardScreen {
  @apply   
  lg:w-[768px] lg:h-[768px] 
  md:w-[480px] md:h-[480px]
  sm:w-[320px] sm:h-[320px] ;
}

.cell-items {
  @apply select-none flex items-center justify-center cursor-pointer border  
  lg:w-[82px] lg:h-[82px] 
  md:w-[42px] md:h-[42px] 
  sm:w-[32px] sm:h-[32px] 
  hover:border-[3px] rounded-md hover:border-[var(--main-sites-color)] ;
}

.main-background {
  @apply bg-[#f0f2f5]  text-[#0f172a] ;
}


:root {
  --main-sites-color: #bc3c3c;
  --main-sites-color-hover: #a44138
  --background: #ffffff;

  --foreground: hsl(240 10% 3.9%);

  --card: hsl(0 0% 100%);

  --card-foreground: #09090b;

  --popover: hsl(0 0% 100%);

  --popover-foreground: hsl(240 10% 3.9%);

  --primary: hsl(240 5.9% 10%);

  --primary-foreground: hsl(0 0% 98%);

  --secondary: hsl(240 4.8% 95.9%);

  --secondary-foreground: hsl(240 5.9% 10%);

  --muted: hsl(240 4.8% 95.9%);

  --muted-foreground: hsl(240 3.8% 46.1%);

  --accent: hsl(240 4.8% 95.9%);

  --accent-foreground: hsl(240 5.9% 10%);

  --destructive: hsl(0 84.2% 60.2%);

  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(240 5.9% 90%);

  --input: hsl(240 5.9% 90%);

  --ring: hsl(240 10% 3.9%);

  --chart-1: hsl(12 76% 61%);

  --chart-2: hsl(173 58% 39%);

  --chart-3: hsl(197 37% 24%);

  --chart-4: hsl(43 74% 66%);

  --chart-5: hsl(27 87% 67%);

  --radius: 0.6rem;
}

.dark {
  --background: hsl(240 10% 3.9%);

  --foreground: hsl(0 0% 98%);

  --card: hsl(240 10% 3.9%);

  --card-foreground: hsl(0 0% 98%);

  --popover: hsl(240 10% 3.9%);

  --popover-foreground: hsl(0 0% 98%);

  --primary: hsl(0 0% 98%);

  --primary-foreground: hsl(240 5.9% 10%);

  --secondary: hsl(240 3.7% 15.9%);

  --secondary-foreground: hsl(0 0% 98%);

  --muted: hsl(240 3.7% 15.9%);

  --muted-foreground: hsl(240 5% 64.9%);

  --accent: hsl(240 3.7% 15.9%);

  --accent-foreground: hsl(0 0% 98%);

  --destructive: hsl(0 62.8% 30.6%);

  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(240 3.7% 15.9%);

  --input: hsl(240 3.7% 15.9%);

  --ring: #d4d4d8;

  --chart-1: hsl(220 70% 50%);

  --chart-2: hsl(160 60% 45%);

  --chart-3: hsl(30 80% 55%);

  --chart-4: hsl(280 65% 60%);

  --chart-5: hsl(340 75% 55%);
}

@theme inline {
  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background;
  }
}

.cell-err {
  animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-out-shake {
  0% {
      transform: scale(2);
  }
  25% {
      transform: scale(2) rotate(30deg);
  }
  50% {
      transform: scale(2) rotate(-30deg);
  }
  100% {
      transform: scale(1);
  }
}
